.pages {
    margin: 10px;
}

.home-two {
    overflow-y: scroll;
    color: white;
    zoom: 0.8;
    .editable {
        cursor: text;
    }
    .editable:focus-visible {
        background-color: rgb(96, 79, 0);
        color: rgb(255, 255, 255);
    }
}

.home-two::-webkit-scrollbar {
    display: none;
}