.pages {
    margin: 10px;
    .page-edit-link {
        padding: 10px 20px;
        background-color: rgb(77, 0, 128);
        color: white;
        width: fit-content;
        cursor: pointer;
    }
}

.editable {
    overflow-y: scroll;
    color: white;
    zoom: 0.8;
    .home-two {
        .editable {
            cursor: text;
        }
        .editable:focus-visible {
            background-color: rgb(96, 79, 0);
            color: rgb(255, 255, 255);
        }
    }
    .home-two::-webkit-scrollbar {
        display: none;
    }
}

.editable::-webkit-scrollbar {
    display: none;
}